/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #3498db;
    /* Change this to your desired thumb color */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #ecf0f1;
    /* Change this to your desired track color */
}

/* For Firefox */
* {
    scrollbar-color: #3498db #ecf0f1;
    /* Change these to your desired thumb and track colors */
    scrollbar-width: thin;
}