/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #eee;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
* {
    scrollbar-color: #eee transparent;
    scrollbar-width: thin;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        display: flex;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: flex;
    }
}

.video-animation {
    animation: fadeOut 1s forwards;
}

.video-animation.fadeIn {
    animation: fadeIn 1s forwards;
}

.start-img {
    animation-name: imageAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animation {
    animation: hithere 1s ease infinite;
}

@keyframes imageAnimation {
    0% {
        /* transform: scale(0.6, 0.6); */
        width: 0;
    }

    100% {
        /* transform: scale(1, 1); */
        width: calc(100% - 80px);
    }
}

@keyframes hithere {
    30% {
        transform: scale(1.05);
    }

    40%,
    60% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.1);
    }

    70% {
        transform: rotate(0deg) scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}