/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #eee;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
* {
    scrollbar-color: #eee transparent;
    scrollbar-width: thin;
}